
<footer class="footer">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
        Contact:
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
        <a href="mailto:{{ site.email }}">Email</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
        {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
               Twitter
            </a>
        {% endif %}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
        {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
                GitHub
            </a>
        {% endif %}
    </div>
</footer>
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=peroperje" async="async"></script>
